<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category List</title>
</head>
<body>
    <h1>Category List</h1>
    <ul>
        <a href="{% url 'create_category' %}">Create Category</a>
        {% for category in categories %}
            <li>{{ category.name }}</li>
            <a href="{%url 'update_category' category.pk %}">Update Category</a>
            <a href="{%url 'delete_category' category.pk %}">Delete Category</a>
        {% endfor %}
    </ul>
</body>
</html>


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
</head>
<body>
    
    <form method="GET" action="{% url 'product_list' %}">
        <input type="text" name="q" placeholder="Search">
    </form>

   
    <h1>Product List</h1>
    <ul>
        <a href="{% url 'create_product' %}">Create Product</a>
        <a href="{% url 'create_category' %}">Create Category</a>
        {% for product in products %}
            <li><a href="{% url 'product_detail' product.pk %}">{{ product.name }}</a></li>
            <a href="{% url 'update_product' product.id %}">Edit</a>
            <a href="{% url 'delete_product' product.id %}">Delete</a>
        {% endfor %}    
    </ul>
</body>
</html> -->